@use '../../../../global/variables';

  @media (max-width: 768px) {
    .sectionDois form {
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
      .sectionDois {
        height: 90vh;
          form {
              padding: 1rem;
            }
    }
  
    .formulario .button {
      justify-content: center;
    }
  }