.imgFundo {
  background-image: url(/assets/images/pages/index/imgAlisonEDante.webp);
  background-size: cover;
}
.imgFundo .sectionUm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgFundo .sectionUm .conteudo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  color: white;
}
.imgFundo .sectionUm .conteudo h1 {
  font-weight: 300;
  font-size: 80px;
}
.imgFundo .sectionUm .conteudo p {
  font-size: 20px;
}

.sectionDoisESeis {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6EAEE;
}
.sectionDoisESeis .centro h2 {
  font-weight: 300;
  font-size: 50px;
}

.sectionTres {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/pages/index/imgCelebrate.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTres .centro h2 {
  color: white;
  font-weight: normal;
  font-size: 70px;
}
.sectionTres .centro p {
  color: white;
}

.sectionQuatro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #E6EAEE;
}
.sectionQuatro .tamanho {
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.sectionQuatro .tamanho div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sectionQuatro .tamanho div h2 {
  font-size: 50px;
  font-weight: normal;
}
.sectionQuatro .tamanho div p {
  font-size: 16px;
}

button {
  background-color: #1C1C1C;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
button:hover {
  background-color: #3C444C;
  color: #E6EAEE;
  transform: scale(1.04);
}
button:active {
  transform: scale(0.98);
}

.centro {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 70px;
}
.centro p {
  font-size: 20px;
}

header {
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: rgba(37, 30, 30, 0.048);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
header .logo {
  font-weight: bold;
  font-size: 30px;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.3s;
}
header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease-in-out;
}
header nav a:hover::after {
  width: 100%;
}
header nav.active {
  display: flex;
}
header .menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 101;
}
header .menu span {
  width: 22px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
header .menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .menu.active span:nth-child(2) {
  opacity: 0;
}
header .menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(17, 15, 15, 0.856);
    backdrop-filter: blur(10px);
    display: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  header nav.active {
    display: flex;
  }
  header .menu {
    display: flex;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #1C1C1C;
}
footer img {
  margin: 0 7px;
  width: 28px;
  height: 28px;
}
footer img:hover {
  transform: scale(1.06);
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* @font-face {
    font-family: ;
    src: url();
} */
@media screen and (max-width: 450px) {
  .imgFundo {
    background-image: url(/assets/images/pages/index/imgAlisonEDanteResponsive.webp);
    background-position: center center;
  }
  .imgFundo .sectionUm .conteudo {
    width: 90%;
    gap: 30px;
  }
  .imgFundo .sectionUm .conteudo h1 {
    font-size: 45px;
    font-weight: 600;
  }
  .imgFundo .sectionUm .conteudo p {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .sectionDoisESeis {
    height: 80vh;
  }
  .sectionDoisESeis .centro {
    width: 90%;
  }
  .sectionDoisESeis .centro p {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.555);
  }
  .sectionDoisESeis .centro h2 {
    font-size: 25px;
  }
  .sectionDoisESeis .centro .div-button button {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .sectionTres {
    height: 90vh;
    background-image: url(/assets/images/pages/index/imgCelebrateResponsive.webp);
    background-size: cover;
  }
  .sectionTres .centro {
    width: 90%;
  }
  .sectionTres .centro h2 {
    font-size: 55px;
  }
  .sectionTres .centro p {
    font-size: 25px;
    font-weight: 800;
  }
}
@media screen and (max-width: 450px) {
  .sectionQuatro {
    flex-direction: column;
    gap: 40px;
  }
  .sectionQuatro .tamanho {
    width: 90%;
    gap: 30px;
  }
  .sectionQuatro .tamanho div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  footer {
    height: 100px;
    justify-content: center;
  }
  footer p {
    margin: 0;
    display: none;
  }
  footer img {
    width: 32px;
    height: 32px;
    margin: 0 15px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/pages/index/partials/_sectionUm.scss%22,%22../../../scss/pages/index/partials/_sectionDoisESeis.scss%22,%22../../../scss/global/_variables.scss%22,%22../../../scss/pages/index/partials/_sectionTres.scss%22,%22../../../scss/pages/index/partials/_sectionQuatro.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22,%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionUmResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionDoisESeisResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionTresResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionQuatroResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_footerResponsive.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;EACA;;AACA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;;;ACrBhB;EACI;EACA;EACA;EACA;EACA,kBCDgB;;ADIZ;EACI;EACA;;;AEZZ;EACI;EACA;EACA;EACA;EACA;EACA;;AAGI;EACI;EACA;EACA;;AAGJ;EACI;;;ACdZ;EACI;EACA;EACA;EACA;EACA;EACA,YFFgB;;AEIhB;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;;;AC1BhB;EACE,kBHKe;EGJf,OHMe;EGLf;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,kBHLkB;EGMlB,OHJkB;EGKlB;;AAGF;EACE;;;AAIJ;EACQ;EACA;EACA;EACA;EACA;;AAEA;EACI;;;AAKZ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBH3Ce;EG4Cf;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAKN;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAIA;EACE;;AAGF;EACE;;AAGF;EACE;;AAKN;EACE;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAGF;IACE;;EAGF;IACE;;;;AAKN;EACI;EACA;EACA,kBH9Ia;;AGgJb;EACI;EACA;EACA;;AAEA;EACI;EACA;;;AC3JZ;EACI;EACA;EACA;EACA;;;ACJJ;AAAA;AAAA;AAAA;ACGA;EACA;IACI;IACA;;EAGI;IACI;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;;;ACjBhB;EACA;IACI;;EAEA;IACI;;EAEA;IACI;IACA;IACA;;EAGJ;IACI;;EAIA;IACI;;;ACnBhB;EACI;IACI;IACA;IACA;;EAEA;IACI;;EAEA;IACI;;EAGJ;IACI;IACA;;;ACfhB;EACI;IACI;IACA;;EAEA;IACI;IACA;;EAGI;IACI;;;ACXpB;EACI;IACI;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;IACA;IACA%22,%22file%22:%22home.css%22%7D */
