@use "../../../../global/variables";

@media screen and (max-width: 900px){
    .sectionDois{
        height: 70vh;

        .centro{
            p{
                font-size: 50px;
            }

            h2{
                font-size: 25px;
            }

            .div-button{
                button{
                font-size: 17px;
                width: 80%;
                height: 55px;
                }
            }
        }
    }
}