@use "../global/variables";

button {
  background-color: variables.$corFundoButton;
  color: variables.$corButtonTexto;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: variables.$corFundoButtonHover;
    color: variables.$corButtonTextoHover;
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.98); 
  }
}

.centro{
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 70px;

        p{
            font-size: 20px;
        }
}


header {
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: variables.$corFundoHeader;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 100;

  nav {
    display: flex;
    gap: 30px;

    a {
      position: relative;
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: color 0.3s;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.4s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &.active {
      display: flex;
    }
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    z-index: 101;

    span {
      width: 26px;
      height: 3px;
      background-color: white;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: rgba(17, 15, 15, 0.596);
      backdrop-filter: blur(10px);
      display: none;
      padding: 10px 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
    
    .active {
      display: flex;
    }
    
    .menu {
      display: flex;
    }

  }
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: variables.$corFundoFooter;

    a{
      text-decoration: none;

      img{
          margin: 0 7px;
          width: 28px;
          height: 28px;
  
          &:hover{
              transform: scale(1.06);
              transition: .3s;
          }
      }
    }
    
  }