$corInput: #F1F1F1;

$corFundoHeader: rgba(37, 30, 30, 0.048);

$corFundoFooter: #1C1C1C;

$corFundoContainer: #E6EAEE;

$corFundoButton: #1C1C1C;
$corFundoButtonHover: #3C444C;
$corButtonTexto: #FFFFFF;
$corButtonTextoHover: #E6EAEE;