$cor-preta-texto: #000000;
$cor-pretoFraco-texto: #000000cc;
$cor-branca-texto: #ffffff;
$cor-brancoFraco-texto: #ffffffcc;

$corPreta-conteiner: #000000;
$corBranca-conteiner: #ffffff;
$corCinza-conteiner: #C6CAD6;

$cor-header: #000000;

$corButton: #000000;
$corButton-hover: #000000dc;

$corInput: #F1F1F1;