header{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100px;

    a{
        &:nth-child(1){
            border-bottom: 1px solid black;
        }
    }
}