@use '../../../global/variables';

.sectionDoisESeis{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$corFundoContainer;

    .centro{
        h2{
            font-weight: 300;
            font-size: 50px;
        }
    }
}