.sectionTres{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/pages/index/imgCelebrate.webp);
    background-size: cover;
    display: flex;  
    justify-content: center;
    align-items: center;
    
    .centro{
        h2{
            color: white;
            font-weight: normal;
            font-size: 70px;
        }

        p{
            color: white;
        }
    }
}