header a:nth-child(2) {
  color: #000000;
}

.imgFundo {
  background-image: url(/assets/images/pages/travelStay/imgTravelStay.webp);
  background-size: cover;
}
.imgFundo .sectionUm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.imgFundo .sectionUm .conteudo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  color: #ffffff;
}
.imgFundo .sectionUm .conteudo h1 {
  font-weight: 300;
  font-size: 80px;
}
.imgFundo .sectionUm .conteudo p {
  font-size: 20px;
}

.sectionDois {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionDois .centro p {
  color: rgba(0, 0, 0, 0.8);
}
.sectionDois .centro h2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-size: 50px;
}

.sectionTres {
  width: 100%;
  height: 100vh;
  background-color: #C6CAD6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sectionTres .tamanho {
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.sectionTres .tamanho div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sectionTres .tamanho div h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 50px;
  font-weight: normal;
}
.sectionTres .tamanho div p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
a:hover {
  color: #000000;
  border-bottom: 1px solid black;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}
button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.862745098);
}

.centro {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 70px;
}
.centro p {
  font-size: 20px;
}

header {
  background-color: #000000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 80px;
}
header a {
  font-size: 16px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin: 4px 0;
}
footer img {
  margin: 0 7px;
  width: 24px;
  height: 24px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* @font-face {
    font-family: ;
    src: url();
} */
@media screen and (max-width: 450px) {
  .imgFundo {
    background-image: url(/assets/images/pages/travelStay/imgTravelStayResponsive.webp);
  }
  .imgFundo .sectionUm .conteudo {
    width: 90%;
  }
  .imgFundo .sectionUm .conteudo h1 {
    font-weight: 600;
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .sectionDois {
    height: 80vh;
  }
  .sectionDois .centro {
    width: 90%;
  }
  .sectionDois .centro p {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.555);
  }
  .sectionDois .centro h2 {
    font-size: 25px;
  }
  .sectionDois .centro .div-button button {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .sectionTres {
    flex-direction: column;
    gap: 40px;
  }
  .sectionTres .tamanho {
    width: 90%;
    gap: 30px;
  }
  .sectionTres .tamanho div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  footer {
    height: 100px;
    justify-content: center;
  }
  footer p {
    margin: 0;
    display: none;
  }
  footer img {
    width: 32px;
    height: 32px;
    margin: 0 15px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/pages/travelStay/partials/_header.scss%22,%22../../../scss/global/_variables.scss%22,%22../../../scss/pages/travelStay/partials/_sectionUm.scss%22,%22../../../scss/pages/travelStay/partials/sectionDois.scss%22,%22../../../scss/pages/travelStay/partials/sectionTres.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22,%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/responsive/travelStayResponsive/partials/_sectionUmResponsive.scss%22,%22../../../scss/pages/responsive/travelStayResponsive/partials/_sectionDoisResponsive.scss%22,%22../../../scss/pages/responsive/travelStayResponsive/partials/_sectionTresResponsive.scss%22,%22../../../scss/pages/responsive/travelStayResponsive/partials/_footerResponsive.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAIQ;EACI,OCLM;;;ACElB;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA,ODhBO;;ACkBP;EACI;EACA;;AAGJ;EACI;;;ACxBhB;EACI;EACA;EACA,kBFCkB;EEAlB;EACA;EACA;;AAGI;EACI,OFXW;;AEcf;EACI,OFfW;EEgBX;EACA;;;AChBZ;EACI;EACA;EACA,kBHEiB;EGDjB;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI,OHtBO;EGuBP;EACA;;AAGJ;EACI,OH5BO;EG6BP;;;AC5BhB;EACI;EACA,OJFe;EIGf;;AAEA;EACI,OJRU;EISV;;;AAIR;EACI;EACA;EACA;EACA,kBJNQ;EIOR,OJhBe;;AIkBf;EACI;EACA,kBJVU;;;AIclB;EACQ;EACA;EACA;EACA;EACA;;AAEA;EACI;;;AAIZ;EACI,kBJ9BS;EI+BT;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;;AAIR;EACI,kBJjDiB;EIkDjB,OJrDe;EIsDf;EACA;EACA;EACA;;AAEA;EACI;EACA,OJ5DgB;EI6DhB;;AAGJ;EACI;EACA;EACA;;;ACtER;EACI;EACA;EACA;EACA;;;ACJJ;AAAA;AAAA;AAAA;ACEA;EACI;IACI;;EAGI;IACI;;EAEA;IACI;IACA;;;ACVpB;EACI;IACI;;EAEA;IACI;;EAEA;IACI;IACA;IACA;;EAGJ;IACI;;EAIA;IACI;;;ACnBpB;EACI;IACI;IACA;;EAEA;IACI;IACA;;EAGI;IACI;;;ACXpB;EACI;IACI;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;IACA;IACA%22,%22file%22:%22travelStay.css%22%7D */
