@media screen and (max-width: 900px) {
  .imgFundo {
    background-image: url(/assets/images/pages/rsvp/imgTravelStayResponsive.webp);
  }
  .imgFundo .sectionUm .conteudo {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    width: 90%;
  }
  .imgFundo .sectionUm .conteudo h1 {
    font-size: 45px;
    font-weight: 600;
  }
  .imgFundo .sectionUm .conteudo p {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .sectionDois form {
    padding: 1.5rem;
  }
}
@media (max-width: 480px) {
  .sectionDois {
    height: 90vh;
  }
  .sectionDois form {
    padding: 1rem;
  }
  .formulario .button {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  footer {
    height: 100px;
    justify-content: center;
  }
  footer p {
    margin: 0;
    display: none;
  }
  footer img {
    width: 32px;
    height: 32px;
    margin: 0 15px;
  }
}
button {
  background-color: #1C1C1C;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
button:hover {
  background-color: #3C444C;
  color: #E6EAEE;
  transform: scale(1.04);
}
button:active {
  transform: scale(0.98);
}

.centro {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 70px;
}
.centro p {
  font-size: 20px;
}

header {
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: rgba(37, 30, 30, 0.048);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}
header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease-in-out;
}
header nav a:hover::after {
  width: 100%;
}
header nav.active {
  display: flex;
}
header .menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 101;
}
header .menu span {
  width: 26px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
header .menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .menu.active span:nth-child(2) {
  opacity: 0;
}
header .menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(17, 15, 15, 0.596);
    backdrop-filter: blur(10px);
    display: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  header .active {
    display: flex;
  }
  header .menu {
    display: flex;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #1C1C1C;
}
footer a {
  text-decoration: none;
}
footer a img {
  margin: 0 7px;
  width: 28px;
  height: 28px;
}
footer a img:hover {
  transform: scale(1.06);
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* @font-face {
    font-family: ;
    src: url();
} */

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../../scss/pages/responsive/rsvpResponsive/partials/_sectionUmResponsive.scss%22,%22../../../../scss/pages/responsive/rsvpResponsive/partials/_sectionDoisResponsive.scss%22,%22../../../../scss/pages/responsive/rsvpResponsive/partials/_footerResponsive.scss%22,%22../../../../scss/global/_elements.scss%22,%22../../../../scss/global/_variables.scss%22,%22../../../../scss/global/_normalize.scss%22,%22../../../../scss/global/_fonts.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAEA;EACI;IACI;;EAII;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;;;ACjBlB;EACE;IACE;;;AAIJ;EACI;IACE;;EACE;IACI;;EAIV;IACE;;;ACfN;EACI;IACI;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;IACA;IACA;;;ACbZ;EACE,kBCKe;EDJf,OCMe;EDLf;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,kBCLkB;EDMlB,OCJkB;EDKlB;;AAGF;EACE;;;AAIJ;EACQ;EACA;EACA;EACA;EACA;;AAEA;EACI;;;AAKZ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBC3Ce;ED4Cf;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAKN;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAIA;EACE;;AAGF;EACE;;AAGF;EACE;;AAKN;EACE;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAGF;IACE;;EAGF;IACE;;;;AAMN;EACI;EACA;EACA,kBC1Ia;;AD4Ib;EACE;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;;;AE1Jd;EACI;EACA;EACA;EACA;;;ACJJ;AAAA;AAAA;AAAA%22,%22file%22:%22rsvp.css%22%7D */
